@{
    ViewData["Title"] = "Privacy Policy";
}

<p>
    <br>
    This website is operated by AMFS and is implemented to use by the secretaryship members,
    teachers and students of the Faculty of Automation, Computers and Electronics.
    This policy sets out how we process any personal data that we collect from you or that you provide
    to us through our website. We confirm that we will keep your information secure and that we will
    comply fully with all applicable UK Data Protection legislation and regulations.
    Please read the following carefully to understand what happens to personal data that you choose
    to provide to us, or that we collect from you when you visit this site. By visiting our website
    you are accepting and consenting to the practices described in this policy.
</p>
<p>
    <br>
    Types of information we may collect from you:
    <br>
    We may collect, store and use the following kinds of personal information about individuals who
    visit and use our website:
    Information supplyed to us by you, regarding name, address, e-mail address and phone number.
</p>
<p>
    <br>
    Cookies:
    <br>
    This website uses cookies to distinguish you from other users of the website. This helps us to provide
    you with a good experience when you browse our website and also allows us to improve our site.
</p>
