@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    string userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
    string userEntireName = HttpContextAccessor.HttpContext.Session.GetString("UserEntireName");
    string userProfile = HttpContextAccessor.HttpContext.Session.GetString("UserProfile");
    string studTechID = HttpContextAccessor.HttpContext.Session.GetString("StudTeachID"); 
}

<div>
    @if (userName == null)
    {
        <button id="login" onclick="location.href='@Url.Action("Login", "Login")'">Login</button>
    }
    else
    {
        @if (userName != null)
        {
            @*<a id="HeloUser" onclick="person('@userEntireName, @userRole @userProfile')" href="#" style="color:white; padding-right: 30px;"> Hello, @userName </a>*@
            <a id="HeloUser" onclick="location.href='@Url.Action("Index", "UserProfilePage")'" style="color:white; padding-right: 30px;"> Hello, @userName </a>
        }
        <button id="login" onclick="location.href='@Url.Action("Logout", "Login")'">Logout</button>
    }
</div>
