@model EvidentaStudentilor.Models.Subject

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseHours" class="control-label"></label>
                <input asp-for="CourseHours" class="form-control" />
                <span asp-validation-for="CourseHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeminarHours" class="control-label"></label>
                <input asp-for="SeminarHours" class="form-control" />
                <span asp-validation-for="SeminarHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaboratoryHours" class="control-label"></label>
                <input asp-for="LaboratoryHours" class="form-control" />
                <span asp-validation-for="LaboratoryHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectHours" class="control-label"></label>
                <input asp-for="ProjectHours" class="form-control" />
                <span asp-validation-for="ProjectHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECP" class="control-label"></label>
                <input asp-for="ECP" class="form-control" />
                <span asp-validation-for="ECP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credits" class="control-label"></label>
                <input asp-for="Credits" class="form-control" />
                <span asp-validation-for="Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
